

<a class="nav-link dropdown-toggle" id="navbarDropdownLocale" href="#" role="button" 
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ localeName(app.request.locale) | capitalize }}
</a>
<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownLocale">
    {% for locale in locales() %}
        <a class="dropdown-item {% if app.request.locale == locale.code %}active{% endif %}" 
            href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
            {{ locale.name|capitalize }}
        </a>
    {% endfor %}
</div>
