<nav class="navbar navbar-expand-lg">
    <button type="button" id="sidebarCollapse" class="btn btn-sm bg-transparent text-light">
        <i class="bi bi-list fs-3"></i><span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person me-2"></i> <span>John Doe</span> <i style="font-size: .8em;" class="bi bi-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                        <ul class="nav-list">
                            <li><a href="" class="dropdown-item"><i class="bi bi-journal-text"></i> Profile</a></li>
                            <li><a href="" class="dropdown-item"><i class="bi bi-envelope"></i> Messages</a></li>
                            <li><a href="" class="dropdown-item"><i class="bi bi-gear"></i> Settings</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="bi bi-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>